.btn {
  border: 1px solid rgba(240, 186, 78, 1);
  border-radius: 54px;
  padding: 14px 28px;
  margin-top: 12px;
}

p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  margin-bottom: 0px;
  box-shadow: 0px 20px 50px 0px #3c3c3b12;
}

.todo-list {
  width: 350px;
  height: 300px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}
